@page
@using ClienteTACOSWeb.Modelos

@model ActualizarPedidoModel 
@{
    ViewData["Title"] = "Actualizar pedido";    
}

<title>Actualizar pedido</title>
<h1>Actualizar pedido: <span>@Model._consultante.ObtenerPedido().Id</span></h1>
<h4>Miembro: <span>@Model._consultante.ObtenerPedido().Miembro.Persona.NombreCompleto</span></h4>
<h4>Fecha: <span>@Model._consultante.ObtenerPedido().Fecha</span></h4>
<h4>Total: <span>@Model._consultante.ObtenerPedido().TotalStr</span></h4>
<hr>
<div class="form-group">
    <form method="post" asp-page-handler="ActualizarPedido">
        <h4>
            <label for="estado">Estado:</label>
            <select class="form-control" id="estado" asp-for="IdEstado">
                
                @foreach (var estado in Model.Estados){
                    if ((int)estado != Model._consultante.ObtenerPedido().Estado){
                        <option value= "@((int)estado)">
                            @(estado)
                        </option>
                    }else{
                        <option selected value="@Model._consultante.ObtenerPedido().Estado">
                            @((Estados)Model._consultante.ObtenerPedido().Estado)
                        </option>
                    }
                }
            </select>
        </h4>

        <table>
            <thead>
                <tr>
                    <th>Alimento</th>
                    <th>Precio</th>
                    <th>Cantidad</th>
                    <th>Subtotal</th>
                    <th>Opciones</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var alimentoPedido in Model._consultante.ObtenerPedido().Alimentospedidos)
                {
                    <tr>
                        <td>
                            @alimentoPedido.Alimento.Nombre
                        </td>
                        <td>
                            @alimentoPedido.Alimento.PrecioStr
                        </td>
                        <td>
                            @alimentoPedido.Cantidad
                        </td>
                        <td>
                            @alimentoPedido.Subtotal
                        </td>
                    </tr>
                }
            </tbody>
        </table>

        <hr>

        <div class="d-flex  justify-content-end">
    
        <button type="submit" class="btn btn-primary">Guardar cambios</button>
        <button class="btn btn-secondary">Regresar</button>
    </form>
</div>
</div>