@page
@using ClienteTACOSWeb.Modelos
@using Microsoft.AspNetCore.Http;

@model IniciarSesionModel
@{
    ViewData["Title"] = "Iniciar sesi칩n";    
}

<nav>
  <div class="nav nav-tabs d-flex justify-content-center d-flex align-items-center" id="nav-tab" role="tablist">
    <a class="nav-link active" id="nav-home-tab" data-bs-toggle="tab" href="#nav-home" role="tab" aria-controls="nav-home" aria-selected="true">Entrar</a>
    <a class="nav-link" id="nav-profile-tab" data-bs-toggle="tab" href="#nav-profile" role="tab" aria-controls="nav-profile" aria-selected="false">Unirse</a>
  </div> 
</nav>

@if (Model.Error==true)
{
    <div class="alert alert-danger" role="alert">
        @Model.MensajeError
    </div>
}

<div class="tab-content d-flex justify-content-center" id="nav-tabContent">
  <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">
    <form method="post" asp-page-handler="entrar">
      <!-- Email input -->
      <div class="form-outline mb-4">
        <input type="email" id="loginName" class="form-control" asp-for="@Model.PeticionCredenciales.Email"/>
        <label class="form-label" for="loginName">Email</label>
      </div>

      <!-- Password input -->
      <div class="form-outline mb-4">
        <input type="password" id="loginPassword" class="form-control" asp-for="@Model.PeticionCredenciales.Contrasena" />
        <label class="form-label" for="loginPassword">Contrase침a</label>
      </div>

      <!-- Submit button -->
      <button type="submit" class="btn btn-primary btn-block mb-4">Entrar</button>
            <!-- Checkbox -->

      <div class="form-check d-flex justify-content-center mb-4">
      <input class="form-check-input me-2" type="checkbox" value="true" asp-for="@Model.PeticionCredenciales.EsStaff" aria-describedby="registerCheckHelpText" />
        <input name="EsStaff" type="hidden" value="false">
        <label class="form-check-label" for="registerCheck">
          Soy staff
        </label>
      </div>
    </form>
  </div>
  <div class="tab-pane fade" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab">
    <form method="post" asp-page-handler="Unirse">
      <!-- Name input -->
      <div class="form-outline mb-1">
        <input type="text" id="registerName" class="form-control" asp-for="@Model.Miembro.Persona.Nombre"/>
        <label class="form-label" asp-for="@Model.Miembro.Persona.Nombre" for="registerName"></label>
        <span asp-validation-for="@Model.Miembro.Persona.Nombre" class="text-danger"></span>
      </div>

      <div class="form-outline mb-1">
         <input type="text" id="apellidoPaterno" class="form-control" asp-for="@Model.Miembro.Persona.ApellidoPaterno" />
        <label class="form-label" asp-for="@Model.Miembro.Persona.ApellidoPaterno" for="apellidoPaterno"></label>
        <span asp-validation-for="@Model.Miembro.Persona.ApellidoPaterno" class="text-danger"></span>
      </div>

      <div class="form-outline mb-1">
        <input type="text" id="apellidoMaterno" class="form-control" asp-for="@Model.Miembro.Persona.ApellidoMaterno"/>
        <label class="form-label" for="apellidoMaterno" asp-for="@Model.Miembro.Persona.ApellidoMaterno">Apellido Materno</label>
        <span asp-validation-for="@Model.Miembro.Persona.ApellidoMaterno" class="text-danger"></span>
      </div>
      <!-- Username input -->
      <div class="form-outline mb-1">
        <input type="text" id="direccion" class="form-control" asp-for="@Model.Miembro.Persona.Direccion" />
        <label class="form-label" for="direccion" asp-for="@Model.Miembro.Persona.Direccion"></label>
        <span asp-validation-for="@Model.Miembro.Persona.Direccion" class="text-danger"></span>
      </div>
      <div class="form-outline mb-6">
        <input type="text" id="telefono" class="form-control" asp-for="@Model.Miembro.Persona.Telefono" />
        <label class="form-label" for="telefono" asp-for="@Model.Miembro.Persona.Telefono"></label>
        <span asp-validation-for="@Model.Miembro.Persona.Telefono" class="text-danger"></span>
      </div>
      <!-- Email input -->
      <div class="form-outline mb-1">
        <input type="email" id="registerEmail" class="form-control" asp-for="@Model.Miembro.Persona.Email" />
        <label class="form-label" for="registerEmail" asp-for="@Model.Miembro.Persona.Email">Email</label>
        <span asp-validation-for="@Model.Miembro.Persona.Email" class="text-danger"></span>
      </div>


      <!-- Password input -->
      <div class="form-outline mb-1">
                <input type="password" id="registerPassword" class="form-control" asp-for="Contrasena" />
        <label class="form-label" for="registerPassword" >Contrase침a</label>
        <span asp-validation-for="Contrasena" class="text-danger"></span>
      </div>

      <!-- Repeat Password input -->
      <div class="form-outline mb-1">
        <input type="password" id="registerRepeatPassword" class="form-control" asp-for="ContrasenaConfirmacion"/>
        <label class="form-label" for="registerRepeatPassword">Confirma tu contrase침a</label>
        <span asp-validation-for="ContrasenaConfirmacion" class="text-danger"></span>
      </div>

      <!-- Checkbox -->
      <div class="form-check d-flex justify-content-center mb-4">
        <input class="form-check-input me-2" type="checkbox" value="" id="registerCheck" checked
          aria-describedby="registerCheckHelpText" />
        <label class="form-check-label" for="registerCheck">
          I have read and agree to the terms
        </label>
      </div>

      <!-- Submit button -->
      <button  class="btn btn-primary">Unirse</button>
    </form>
  </div>
  </div>

</div>



<div class="modal fade" id="myModal" tabindex="-1" role="dialog"
     aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"
                        aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title" id="myModalLabel">Modal title</h4>
            </div>
            <div class="modal-body">
                ...
            </div>
            <div class="modal-footer">
                <button type="button" class="btn" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Save changes</button>
            </div>
        </div>
    </div>
</div>
