@page
@using ClienteTACOSWeb.Modelos
@using Microsoft.AspNetCore.Http

@model MenuModel
@{
    ViewData["Title"] = "Menú";
}

<style>
    img{
    width:100%;
    max-width:150px;
    }

</style>

<div >
    <header class="d-flex flex-row bg-dark rounded-top justify-content-between">
        <div class="d-flex flex-column p-3 text-light">
            <h1>Menú</h1>
            @if (Model.sesion.Credenciales.EsGerente)
            {
                <p>Presiona el botón <i class="fa-solid fa-pen-to-square"></i>  para modificar cualquier alimento.</p>

            }
            else
            {
                <p>Presiona el botón <i class="fa-solid fa-circle-plus"></i>  para agregar cualquiera de nuestros alimentos a tu pedido.</p>
            }
        </div>
        <div class="p-2 d-flex">
            @{
                if (Model.sesion.Credenciales.EsMiembro)
                {
                    <button type="button" class="btn btn-primary position-relative" data-bs-toggle="offcanvas" data-bs-target="#offcanvasScrolling" aria-controls="offcanvasScrolling">
                        Pedido
                        <i class="fa-solid fa-cart-shopping"></i>
                        <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger">
                            @Model._consultante.ObtenerPedido().TotalStr
                            <span class="visually-hidden">unread messages</span>
                        </span>
                    </button>
                }
                else if (Model.sesion.Credenciales.EsGerente)
                {
                    <a class="btn btn-outline-secondary position-relative d-flex align-items-center justify-content-between" asp-area="" asp-page="/NuevoAlimento">
                        <i class="fa-solid fa-circle-plus"></i>    Nuevo alimento
                    </a>
                }
            }

        </div>
    </header>
</div>

<table class="table  table-hover .w-auto">
    <tbody>
        @foreach (var alimento in Model._menu.ObtenerMenu()){
            <tr>
                <td class="d-flex justify-content-center ">
                    <img 
                        src="@alimento.Imagen.ImagenConvertida"
                        width = "70%"
                        height = "70%">
                </td>
                <td class="align-middle">
                    <div class="d-flex flex-column">
                        <div ><big>@alimento.Nombre</big></div>
                        <div >@alimento.Descripcion</div>
                    </div>
                        
                </td>
                <td class="align-middle col-sm-1">
                    <div class="d-flex flex-column ">
                        <div><big>@alimento.PrecioStr</big></div>
                        @if (Model.sesion.Credenciales.EsGerente)
                        {
                            <div><small>Existencia: @alimento.Existencia</small></div>

                        }
                    </div>
                </td>

                @{
                    if (Model.sesion.Credenciales.EsMiembro)
                    {
                        <td class="align-middle col-sm-1">
                            <button class="btn btn-primary"
                            disabled="@alimento.Agotado"
                            onclick="eliminarCurso('@alimento.Id', '@alimento.Nombre');">

                                <i class="fa-solid fa-circle-plus"></i>
                            </button>
                        </td>
                    }
                    else if (Model.sesion.Credenciales.EsGerente)
                    {
                        <td class="align-middle col-sm-1">
                            <button class="btn btn-outline-secondary"
                                    onclick="modificarAlimento('@alimento.Id', '@alimento.Nombre', '@alimento.Descripcion', '@alimento.Precio', '@alimento.Existencia');">

                                <i class="fa-solid fa-pen-to-square"></i>
                            </button>
                        </td>
                            
                    }
                }  
            </tr>
        }
    </tbody>
</table>

<div class="offcanvas offcanvas-start" data-bs-scroll="true" data-bs-backdrop="false" tabindex="-1" id="offcanvasScrolling" aria-labelledby="offcanvasScrollingLabel">
    <div class="offcanvas-header">
        <h5 class="offcanvas-title" id="offcanvasScrollingLabel">Pedido</h5>
        <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>

    <table class="table table-bordered  table-hover .w-auto">
        <thead>
            <tr>
                <th>Platillo/Precio</th>
                <th>Cantidad</th>
                <th>Subtotal</th>
                <th>Opciones</th>
            </tr>
        </thead>

        <tbody>
            @foreach (KeyValuePair<int,AlimentoModelo> registro in Model._consultante.ObtenerPedido().Alimentos){
                <tr>
                    <td class="align-middle">
                        <div class="d-flex flex-column">
                            <div ><big>@registro.Value.Nombre</big></div>
                            <div >@registro.Value.PrecioStr</div>
                        </div>
                            
                    </td>
                    <td class="align-middle text-center">@registro.Value.Cantidad</td>
                    <td class="align-middle text-center">
                        @registro.Value.Subtotal
                    </td>
                    <td class="align-middle text-center">
                        <a href="#">
                            <i class="col-sm-6 text-danger fa-solid fa-trash"></i>
                        </a>
                    </td>
                </tr>
            }
        </tbody>
    </table>

    <div class="d-flex flex-row-reverse bd-highlight">
        <h3 class="bd-highlight">Total: @Model._consultante.ObtenerPedido().TotalStr</h3>
    </div>
    <div class="d-flex flex-row-reverse bd-highlight">
        <form method="post" id="ordenar" asp-page-handler="Ordenar">
            <Button  type="submit" class=" bd-highlight btn btn-primary">
                Ordenar
            </Button>
        </form>
        <form method="post" asp-page-handler="Cancelar">
            <Button type="submit" class="bd-highlight btn btn-secondary">
                Cancelar
            </Button>
        </form>

    </div>

</div>

<script>    
    function eliminarCurso(id, nombre) {
        $("#idCurso").val(id);
        //$("#nombreCursoEliminar").html(nombre);
        //$("#dialogoEliminar").modal("show");
        $("#agregar").submit();
    }
    function modificarAlimento(id, nombre, descripcion, precio, existencia) {
        $("#id").val(id);
        $("#id").html(id);

        $("#nombre").val(nombre);
        $("#nombre").html(nombre);

        $("#descripcion").val(descripcion);
        $("#descripcion").html(descripcion);

        $("#precio").val(precio);
        $("#precio").html(precio);

        $("#existencia").val(existencia);
        $("#existencia").html(existencia);
        $("#dialogoModificarAlimento").modal("show");
    }
</script>

<form method="post" id="agregar" asp-page-handler="AgregarAlimentoAPedido">
    <input type="hidden" asp-for="idCurso">
</form>

<div class="modal fade" id="dialogoModificarAlimento" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">                
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <form method="post" asp-page-handler="ModificarAlimento">
                <div class="modal-header">
                    <h5 class="modal-title">Modificar alimento</h5>
                </div>
                <div class="modal-body d-flex flex-column">
                    <input type="hidden" id="id" value="@Model.idCurso" asp-for="@Model.AlimentoModificable.Id" />

                    <label class="form-label" for="nombre">Nombre: </label>
                    <input type="text" id="nombre" value="@Model.NombreAlimento" asp-for="@Model.AlimentoModificable.Nombre" />

                    <label class="form-label" for="descripcion">Descripción:</label>
                    <input type="text" id="descripcion" value="@Model.DescripcionAlimento" asp-for="@Model.AlimentoModificable.Descripcion" />

                    <label class="form-label" for="precio">Precio: </label>
                    <input type="number" id="precio" value="@Model.PrecioAlimento" asp-for="@Model.AlimentoModificable.Precio" />

                    <label class="form-label" for="existencia">Existencia: </label>
                    <input type="number" id="existencia" value="@Model.ExistenciaAlimento" asp-for="@Model.AlimentoModificable.Existencia" />

                </div>
                <div class="modal-footer">                            
                    <button type="submit" class="btn btn-primary">Modificar alimento</button>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal" onclick="$('#dialogoModificarAlimento').modal('hide');">Cerrar</button>
                </div>
            </form>
        </div>
    </div>
</div>        