@page
@using ClienteTACOSWeb.Modelos
@using Microsoft.AspNetCore.Http

@model MenuModel
@{
    ViewData["Title"] = "Menú";    
}

<style>
img{
    width:100%;
    max-width:150px;
}

</style>

<div class="d-flex flex-row">
        <h1>Menú</h1>
    <div class="p-2 d-flex justify-content-end">
        <button type="button" class="btn btn-primary position-relative" data-bs-toggle="offcanvas" data-bs-target="#offcanvasScrolling"  aria-controls="offcanvasScrolling">
        Pedido
        <i class="fa-solid fa-cart-shopping"></i>
        <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger">
            @Model._consultante.ObtenerPedido().TotalStr
            <span class="visually-hidden">unread messages</span>
        </span>
        </button>
    </div>
</div>

<table class="table table-bordered  table-hover .w-auto">
    <tbody>
        @foreach (var alimento in Model._menu.ObtenerMenu()){
            <tr>
                <td class="d-flex justify-content-center ">
                    <img 
                        src="@alimento.ImagenConvertida"
                        width = "70%"
                        height = "70%">
                </td>
                <td class="align-middle">
                    <div class="d-flex flex-column">
                        <div ><big>@alimento.Nombre</big></div>
                        <div >@alimento.Descripcion</div>
                    </div>
                        
                </td>
                <td class="align-middle col-sm-1">
                    <div class="d-flex flex-column ">
                        <div><big>@alimento.PrecioStr</big></div>
                        <div><small>Existencia: @alimento.Existencia</small></div>
                    </div>
                </td>
                <td class="align-middle col-sm-1">
                    <button class="btn btn-primary" 
                        disabled="@alimento.Agotado"
                        onclick="eliminarCurso('@alimento.Id', '@alimento.Nombre');">
                    
                        <i class="fa-solid fa-circle-plus"></i>
                    </button>
                </td>    
            </tr>
        }
    </tbody>
</table>

<div class="offcanvas offcanvas-start" data-bs-scroll="true" data-bs-backdrop="false" tabindex="-1" id="offcanvasScrolling" aria-labelledby="offcanvasScrollingLabel">
    <div class="offcanvas-header">
        <h5 class="offcanvas-title" id="offcanvasScrollingLabel">Pedido</h5>
        <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>

    <table class="table table-bordered  table-hover .w-auto">
        <thead>
            <tr>
                <th>Platillo/Precio</th>
                <th>Cantidad</th>
                <th>Subtotal</th>
                <th>Opciones</th>
            </tr>
        </thead>

        <tbody>
            @foreach (KeyValuePair<int,AlimentoModelo> registro in Model._consultante.ObtenerPedido().Alimentos){
                <tr>
                    <td class="align-middle">
                        <div class="d-flex flex-column">
                            <div ><big>@registro.Value.Nombre</big></div>
                            <div >@registro.Value.PrecioStr</div>
                        </div>
                            
                    </td>
                    <td class="align-middle">@registro.Value.Cantidad</td>
                    <td class="align-middle">
                        @registro.Value.Subtotal
                    </td>  
                </tr>
            }
        </tbody>
    </table>

    <div class="d-flex flex-row-reverse bd-highlight">
        <h3 class="bd-highlight">Total: @Model._consultante.ObtenerPedido().TotalStr</h3>
    </div>
    <div class="d-flex flex-row-reverse bd-highlight">
        <form method="post" id="ordenar" asp-page-handler="Ordenar">
            <Button  type="submit" class=" bd-highlight btn btn-primary">
                Ordenar
            </Button>
        </form>
        <Button  class="bd-highlight btn btn-secondary">
            Cancelar
        </Button>
    </div>

</div>

<script>    
    function eliminarCurso(id, nombre) {
        $("#idCurso").val(id);
        //$("#nombreCursoEliminar").html(nombre);
        //$("#dialogoEliminar").modal("show");
        $("#agregar").submit();
    }    

</script>

<form method="post" id="agregar" asp-page-handler="AgregarAlimentoAPedido">
    <input type="hidden" asp-for="idCurso">
</form>

<div class="modal fade" id="dialogoIniciarSesion" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">                
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <form method="post" asp-page-handler="AgregarAlimentoAPedido">
                <input type="hidden" asp-for="idCurso">
                <div class="modal-header">
                    <h5 class="modal-title">Advertencia</h5>
                    <button type="button" class="btn-close" data-dismiss="modal" aria-label="Close">                                
                    </button>
                </div>
                <div class="modal-body">
                    <p>¿Está seguro de querer eliminar el curso <span id="nombreCursoEliminar"></span>?.</p>
                </div>
                <div class="modal-footer">                            
                    <button type="submit" class="btn btn-primary">Eliminar Curso</button>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal" onclick="$('#dialogoEliminar').modal('hide');">Cerrar</button>
                </div>
            </form>
        </div>
    </div>
</div>        