@page
@using ClienteTACOSWeb.Modelos

@model PedidosModel 
@{
    ViewData["Title"] = "Pedidos";    
}

<header class="d-flex flex-row bg-dark text-light rounded-top justify-content-between">
    <div class="p-3 d-flex flex-column">
        <h1>Pedidos</h1>


        <form method="post" asp-page-handler="ObtenerPedidosEntre">
            <div class="d-flex flex-row justify-content-between btn-group-lg">
                <div class="d-flex flex-column">
                    <label for="desde">Desde: </label>
                    <input id="desde" type="date" asp-for="Desde" />
                </div>
                <div class="d-flex flex-column">
                    <label for="hasta">Hasta: </label>
                    <input id="hasta" type="date" asp-for="Hasta" />
                </div>
                <button type="submit" class="btn btn-primary">Consultar</button>
            </div>
        </form>
    </div>


</header>

<table class="table table-bordered  table-hover">
    <thead>
        <tr>
            <th>ID</th>
            <th>Miembro</th>
            <th>Ordenado</th>
            <th>Total</th>
            <th>Estado</th>
            <th>Opciones</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var pedido in Model.Pedidos){
            int estadoActual = (int)pedido.Estado;
            <tr>
                <td>
                    @pedido.Id
                </td>
                <td>
                    @pedido.Miembro.Persona.NombreCompleto
                </td>
                <td>
                    @pedido.Fecha
                </td>
                <td>
                    @pedido.TotalStr
                </td>
                <td>
                    @((Estados)pedido.Estado)   
                </td>
                <td>
                    <div class="d-flex justify-content-center">
                        <a class="btn btn-primary" href="ActualizarPedido?IDPedido=@pedido.Id">
                            <i class="fa-solid fa-pen-to-square"></i>
                        </a>
                    </div>
                </td>
            </tr>
        }
    </tbody>
</table>

<script>
    function actualizarPedidos(idPedido, fecha, total){
        $("#IdPedido").val(idPedido);
        $("#fechaPedido").html(fecha);
        $("#totalPedido").html(total);
        $("#dialogoActualizarPedido").modal("show");
        //$("#actualizarPedidosForm").submit();
    }

</script>

<div class="modal fade" id="dialogoActualizarPedido" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">                
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <form method="post" asp-page-handler="ActualizarPedido">
                <input type="hidden" asp-for="IdPedido">
                <div class="modal-header">
                    <h5 class="modal-title">Actualizar pedido</h5>
                    <button type="button" class="btn-close" data-dismiss="modal" aria-label="Close">                                
                    </button>
                </div>
                <div class="modal-body d-flex flex-column">
                    <div class="d-flex justify-content-between">
                        <h3>Pedido</h3>
                        <div class="justify-content-end">
                            <label for="estados">Estado: </label>
                            <select id="estados">
                                @foreach (var estado in Model.Estados){
                                    
                                    <option>
                                        @estado
                                    </option>
                                }
                            </select>
                        </div>
                    </div>
                    
                    <p>Realizado: <span id="fechaPedido"></span></p>
                    <p>Total: <span id="totalPedido"></span></p>
                </div>
                <div class="modal-footer">                            
                    <button type="submit" class="btn btn-primary">Guardar cambios</button>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal" onclick="$('#dialogoActualizarPedido').modal('hide');">Cerrar</button>
                </div>
            </form>
        </div>
    </div>
</div>     

<form id="actualizarPedidosForm" method="post" asp-page-handler="ActualizarPedido">
</form>


