@page
@using ClienteTACOSWeb.Modelos

@model ResenaModel
@{
    ViewData["Title"] = "Reseñas";    
}

<style>
img{
    width:100%;
    max-width:150px;
}
</style>

<div class="d-flex flex-row">
        <h1>Reseñas</h1>
</div>

<table class="table table-bordered  table-hover .w-auto">
    <tbody>
        @foreach (var resena in Model._consultante.ObtenerResenas())
        {
            <tr>
                <td class="d-flex justify-content-center ">
                    <img src="@resena.ImagenConvertida"
                         width="70%"
                         height="70%">
                </td>
                <td class="align-middle">
                    <div class="d-flex flex-column">
                        <div><strong>@resena.Miembro.Persona.NombreUsuario</strong></div>
                        <div><strong>@resena.Fecha.ToString("dd 'de' MMMM 'de' yyyy")</strong></div>
                        <div style="margin-bottom: 10px;">@resena.Descripcion</div>
                    </div>

                </td>
                <td class="align-middle col-sm-1">
                    <form method="post" asp-page-handler="EliminarResena" asp-route-resenaId="@resena.Id">
                        <button class="btn btn-primary" 
                            onclick="return confirm('¿Estás seguro de que deseas eliminar esta reseña?');">
                            <i class="fa-solid fa-trash"></i>
                        </button>
                    </form>
                </td>

            </tr>
        }
    </tbody>
</table>

@if (!string.IsNullOrEmpty(Model.ErrorMessage))
{
    <div class="alert alert-danger" role="alert">
        @Model.ErrorMessage
    </div>
}

@if (!string.IsNullOrEmpty(Model.SuccessMessage))
{
    <div class="alert alert-success" role="alert">
        @Model.SuccessMessage
    </div>
}
